<div class="container text-center">
  <div class="row">
    <div class="col mt-xl-5 mt-lg-5 mt-md-5">
      <img
        src="./assets/media/images/profile/profile_picture_2023.webp"
        alt="Ervin Profile Picture"
        class="rounded-circle mt-xl-4 mt-lg-4 mt-md-4 mt-3"
        width="200"
        height="200"
      />

      <h3 class="text-muted f-w-600 mt-xxl-4 mt-xl-4 mt-lg-4 mt-3">
        Ervin Pepic
      </h3>

      <p class="lead text-muted f-w-500 mt-1">Software Developer</p>
      <p class="text-muted">
        <strong>Python:</strong> Django, Flask | <strong>PHP:</strong> Laravel,
        Drupal, Wordpress<br />
        <strong>Typescript / JavaSctipt:</strong> Angular<br />
        <strong>C</strong> | <strong>C++</strong> | <strong>GoLang</strong> |
        <strong>Java</strong><br />
        <strong>DB: </strong> SQL | MongoDB | Firebase
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="text-muted f-w-400 mt-3 mb-3">
        Explore my qualifications, skills, and experience
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <span>
        <a
          href="./assets/media/uploads/pdf/CV_web_app.pdf"
          class="text-link text-muted icon-display p-1 ms-2 mx-2"
        >
          <i class="bi bi-file-earmark-person icon-size"></i>
          Resume
        </a>
        <span class="vertical-line"></span>
      </span>

      <span>
        <a
          href="./assets/media/uploads/pdf/cover_letter.pdf"
          class="text-link text-muted icon-display p-1 ms-2 mx-2"
        >
          <i class="bi bi-file-earmark-post icon-size"></i>
          Cover Letter
        </a>
        <span class="vertical-line"></span>
      </span>

      <span>
        <a
          routerLink="/certificates"
          class="text-link text-muted icon-display p-1 ms-2 mx-2"
        >
          <i class="bi bi-award icon-size"></i>
          Awards
        </a>
      </span>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="text-muted f-w-400 mt-3 mb-3">
        You may contact / reach me via:
      </h5>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">

      <a href="mailto:dev@ervinpepic.com" class="m-2">
        <i class="bi bi-envelope-at soc-icon-size"></i>
      </a>
      <span class="vertical-line-soc-icon"></span>

      <a href="https://github.com/ervinpepic" class="m-2">
        <i class="bi bi-github soc-icon-size"></i>
      </a>
      <span class="vertical-line-soc-icon"></span>

      <a href="https://linkedin.com/in/ervinpepic" class="m-2">
        <i class="bi bi-linkedin soc-icon-size"></i>
      </a>
      <span class="vertical-line-soc-icon"></span>

      <a href="https://stackoverflow.com/users/6247087/ervin-pepic" class="m-2">
        <i class="bi bi-stack-overflow soc-icon-size"></i>
      </a>
      <span class="vertical-line-soc-icon"></span>

      <a href="https://twitter.com/pepic__ervin" class="m-2">
        <i class="bi bi-twitter-x soc-icon-size"></i>
      </a>
      <span class="vertical-line-soc-icon"></span>

      <a href="https://instagram.com/pepic__ervin" class="m-2">
        <i class="bi bi-instagram soc-icon-size"></i>
      </a>
    </div>
  </div>

</div>